{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Official REST API for Bitrise.io",
        "title": "Bitrise API",
        "contact": {
            "name": "Bitrise Support",
            "url": "https://www.bitrise.io/contact",
            "email": "letsconnect@bitrise.io"
        },
        "license": {
            "name": "MIT"
        },
        "version": "0.1"
    },
    "host": "api.bitrise.io",
    "basePath": "/v0.1",
    "paths": {
        "/addons": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List all the available Bitrise addons",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "addons"
                ],
                "summary": "Get list of available Bitrise addons",
                "operationId": "addons-list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.AddonsListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/addons/{addon-id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Show details of a specific Bitrise addon",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "addons"
                ],
                "summary": "Get a specific Bitrise addon",
                "operationId": "addons-show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Addon ID",
                        "name": "addon-id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.AddonsShowResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List all the apps available for the authenticated account",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "Get list of the apps",
                "operationId": "app-list",
                "parameters": [
                    {
                        "enum": [
                            "last_build_at",
                            "created_at"
                        ],
                        "type": "string",
                        "description": "Order of the applications",
                        "name": "sort_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Slug of the first app in the response",
                        "name": "next",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Max number of elements per page (default: 50)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.AppListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Show details of a specific app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "Get a specific app",
                "operationId": "app-show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.AppShowResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/android-keystore-files": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Add a new Android keystore file to an app",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "android-keystore-file"
                ],
                "summary": "Create an Android keystore file",
                "operationId": "android-keystore-file-create",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Android keystore file parameters",
                        "name": "android-keystore-file",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.AndroidKeystoreFileUploadParams"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.ProjectFileStorageResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/bitrise.yml": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Show details of a specific app",
                "produces": [
                    "text/plain"
                ],
                "tags": [
                    "application"
                ],
                "summary": "Get bitrise.yml of a specific app",
                "operationId": "app-config-datastore-show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{the bitrise.yml in yml format}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/branches": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List the existing branches of the repository of a specified Bitrise app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "List the branches of an app's repository",
                "operationId": "branch-list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.BranchListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/build-certificates": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List all the build certificates for a specific app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-certificate"
                ],
                "summary": "Get list of the build certificates",
                "operationId": "build-certificate-list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Slug of the first build certificate in the response",
                        "name": "next",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Max number of elements per page (default: 50)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.BuildCertificateListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Add a new build certificate to a specific app",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-certificate"
                ],
                "summary": "Create a build certificate",
                "operationId": "build-certificate-create",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Build certificate parameters",
                        "name": "build-certificate",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.BuildCertificateUploadParams"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.BuildCertificateResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/build-certificates/{build-certificate-slug}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Show details of a specific build certificate of a specific app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-certificate"
                ],
                "summary": "Get a specific build certificate",
                "operationId": "build-certificate-show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build certificate slug",
                        "name": "build-certificate-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.BuildCertificateResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Remove a specific build certificate from a specific app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-certificate"
                ],
                "summary": "Delete a build certificate",
                "operationId": "build-certificate-delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build certificate slug",
                        "name": "build-certificate-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.BuildCertificateResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update a specific build certificate of a specific app",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-certificate"
                ],
                "summary": "Update a build certificate",
                "operationId": "build-certificate-update",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build certificate slug",
                        "name": "build-certificate-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Build certificate parameters",
                        "name": "build-certificate",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.BuildCertificateUpdateParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.BuildCertificateResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/build-certificates/{build-certificate-slug}/uploaded": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Confirm the upload of a specific build certificate of a specific app",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-certificate"
                ],
                "summary": "Confirm a build certificate",
                "operationId": "build-certificate-confirm",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build certificate slug",
                        "name": "build-certificate-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.BuildCertificateResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/build-workflows": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List the workflows that are currently available for a specified Bitrise app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "builds"
                ],
                "summary": "List the workflows of an app",
                "operationId": "build-workflow-list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.BuildLogInfoResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/builds": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List all the builds of a specified Bitrise app. Set parameters to filter builds.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "builds"
                ],
                "summary": "List all builds of an app",
                "operationId": "build-list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "running_first",
                            "created_at"
                        ],
                        "type": "string",
                        "description": "Order of builds",
                        "name": "sort_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The branch which was built",
                        "name": "branch",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The name of the workflow used for the build",
                        "name": "workflow",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The commit message of the build",
                        "name": "commit_message",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The event that triggered the build (push, pull-request, tag)",
                        "name": "trigger_event_type",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "The id of the pull request that triggered the build",
                        "name": "pull_request_id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "The build number",
                        "name": "build_number",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "List builds run after a given date (Unix Timestamp)",
                        "name": "after",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "List builds run before a given date (Unix Timestamp)",
                        "name": "before",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "The status of the build: not finished (0), successful (1), failed (2), aborted with failure (3), aborted with success (4)",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Slug of the first build in the response",
                        "name": "next",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Max number of elements per page (default: 50)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.BuildListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/builds/{build-slug}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the specified build of a specified Bitrise app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "builds"
                ],
                "summary": "Get a build of a given app",
                "operationId": "build-show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build slug",
                        "name": "build-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.BuildShowResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/builds/{build-slug}/abort": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Abort a specific build",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "builds"
                ],
                "summary": "Abort a specific build",
                "operationId": "build-abort",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build slug",
                        "name": "build-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Build abort parameters",
                        "name": "build-abort-params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.BuildAbortParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.BuildAbortResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/builds/{build-slug}/artifacts": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List all the available build artifacts for a specific build in a specific app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-artifact"
                ],
                "summary": "Get list of the build artifacts",
                "operationId": "artifact-list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build slug",
                        "name": "build-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Slug of the first build artifact in the response",
                        "name": "next",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Maximum number of elements per page (default: 50)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.ArtifactListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/builds/{build-slug}/artifacts/{artifact-slug}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Show details of a specific build artifact",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-artifact"
                ],
                "summary": "Get a specific build artifact",
                "operationId": "artifact-show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build slug",
                        "name": "build-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Artifact slug",
                        "name": "artifact-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.ArtifactShowResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Remove a specific build artifact of a specific build in a specific app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-artifact"
                ],
                "summary": "Delete a build artifact",
                "operationId": "artifact-delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build slug",
                        "name": "build-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Artifact slug",
                        "name": "artifact-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.ArtifactDeleteResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update a specific build artifact of a specific build in a specific app",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-artifact"
                ],
                "summary": "Update a build artifact",
                "operationId": "artifact-update",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build slug",
                        "name": "build-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Artifact slug",
                        "name": "artifact-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Artifact parameters",
                        "name": "artifact-params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.ArtifactUpdateParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.ArtifactShowResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/builds/{build-slug}/bitrise.yml": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the bitrise.yml file of one of the builds of a specified app",
                "produces": [
                    "text/plain"
                ],
                "tags": [
                    "builds"
                ],
                "summary": "Get the bitrise.yml of a build",
                "operationId": "build-bitrise-yml-show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build slug",
                        "name": "build-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{the bitrise.yml in yml format}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/builds/{build-slug}/log": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the build log of a specified build of a Bitrise app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "builds"
                ],
                "summary": "Get the build log of a build",
                "operationId": "build-log",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build slug",
                        "name": "build-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.BuildLogInfoResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/generic-project-files": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List all the generic project files for a specific app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "generic-project-file"
                ],
                "summary": "Get list of the generic project files",
                "operationId": "generic-project-file-list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Slug of the first generic project file in the response",
                        "name": "next",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Max number of elements per page (default: 50)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.ProjectFileStorageListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Add a new generic project file to a specific app",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "generic-project-file"
                ],
                "summary": "Create a generic project file",
                "operationId": "generic-project-files-create",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Generic project file parameters",
                        "name": "generic-project-file",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.ProjectFileStorageUploadParams"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.ProjectFileStorageResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/generic-project-files/{generic-project-file-slug}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Show details of a specific generic project file of a specific app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "generic-project-file"
                ],
                "summary": "Get a specific generic project file",
                "operationId": "generic-project-file-show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Generic project file slug",
                        "name": "generic-project-file-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.ProjectFileStorageResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Remove a specific generic project file from a specific app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "generic-project-file"
                ],
                "summary": "Delete a generic project file",
                "operationId": "generic-project-file-delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Generic project file slug",
                        "name": "generic-project-file-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.ProjectFileStorageResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update a specific generic project file of a specific app",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "generic-project-file"
                ],
                "summary": "Update a generic project file",
                "operationId": "generic-project-file-update",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Generic project file slug",
                        "name": "generic-project-file-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Generic project file parameters",
                        "name": "generic-project-file",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.ProjectFileStorageDocumentUpdateParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.ProjectFileStorageResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/generic-project-files/{generic-project-file-slug}/uploaded": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Confirm the upload of a specific generic project file of a specific app",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "generic-project-file"
                ],
                "summary": "Confirm a generic project file",
                "operationId": "generic-project-file-confirm",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Generic project file slug",
                        "name": "generic-project-file-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.ProjectFileStorageResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/outgoing-webhooks": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List all the outgoing webhooks registered for a specified Bitrise app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "outgoing-webhook"
                ],
                "summary": "List the outgoing webhooks of an app",
                "operationId": "outgoing-webhook-list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Slug of the first webhook in the response",
                        "name": "next",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Max number of elements per page (default: 50)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.AppWebhookListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create an outgoing webhook for a specified Bitrise app: this can be used to send build events to a specified URL with custom headers",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "outgoing-webhook"
                ],
                "summary": "Create an outgoing webhook for an app",
                "operationId": "outgoing-webhook-create",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "App webhook creation params",
                        "name": "app-webhook-create-params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.AppWebhookCreateParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.AppWebhookResponseItemModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/outgoing-webhooks/{app-webhook-slug}": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update an existing outgoing webhook (URL, events, secrets and headers) for a specified Bitrise app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "outgoing-webhook"
                ],
                "summary": "Update an outgoing webhook of an app",
                "operationId": "outgoing-webhook-update",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "App webhook slug",
                        "name": "app-webhook-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "App webhook update params",
                        "name": "app-webhook-update-params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.AppWebhookUpdateParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.AppWebhookResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete an existing outgoing webhook for a specified Bitrise app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "outgoing-webhook"
                ],
                "summary": "Delete an outgoing webhook of an app",
                "operationId": "outgoing-webhook-delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "App webhook slug",
                        "name": "app-webhook-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.AppWebhookResponseItemModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/outgoing-webhooks/{app-webhook-slug}/delivery-items": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List all the delivery items of an outgoing webhook of a Bitrise application",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "webhook-delivery-item"
                ],
                "summary": "List the webhook delivery items of an app",
                "operationId": "webhook-delivery-item-list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "App webhook slug",
                        "name": "app-webhook-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Slug of the first delivery item in the response",
                        "name": "next",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Max number of elements per page (default: 50)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/v0.WebhookDeliveryItemShowResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
[...]
